.card {
    width: 100%;
    background-color: var(--grey);
    color: var(--grey);
    transition: .4s ease-in-out;  
    
}

.card:hover {
    cursor: pointer;
}

.h3 {
    padding-bottom: 6px;
    text-align: center;
    color: var(--red);
    background-color: var(--grey);  
}

.cardTxt {
    color: white;
   background-color: var(--grey)
}

.image {
 height : auto;
   width: calc(100% - 2px);
   border: 1px solid white;
}

.pCard {
    padding: 20px;
    text-align: center;
}
