@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --grey: #242424;
  --red: #907d63;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(0, 0, 0);
}

body {
  background-color: rgb(255, 255, 255);
}

html,
body {
  margin: auto;
  max-width: 800px;
  overflow-x: hidden;
}

.main {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}