.card {
    width: 100%;
    background-color: var(--red);
    color: var(--grey);
    transition: .4s ease-in-out;  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    cursor: pointer;
}

.h3 {
    padding-bottom: 6px;
    text-align: center;
    color: white;
    background-color: var(--red);  
}

.cardTxt {
   
   background-color: white;;
   
}

.image {
 height : auto;
   width: 100%;
}

.pCard {
    padding: 20px;
}
