.mapWrapper {
  z-index: 2;
  width: 350px;
}
  
.mapContainer {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.mapContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.addressDetails {
  margin: 20px 0;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  color : var(--red);
  border: 1px solid var(--red);
  background-color: var(--grey)
}

.name {
 color : var(--red);
}

.span {
  margin: 10px 0;
  color : white;
}