.description {
    background-color: rgb(226, 226, 226); 
}

.box {
    z-index: 2;
    color: white;
    background-color: var(--grey);
}

.h2 {
    text-decoration: underline;
    z-index: 2;
    padding: 8px;
    font-size: 1.8em;
    text-align: center;
    font-weight: lighter;
    color: var(--red);  
}

.intro {
    margin: auto;
    padding:  0 10px;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    display: flex;
    font-size: 1.2em;;
    text-align: center;
    line-height: 1.7em;
    overflow: hidden;
    flex-direction: column;
    justify-content: center; 
    transition: .4s ease-in-out;
   
}

.localisation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}