.container {
  max-width: 900px;
  margin: 80px auto;
  padding: 150px 20px 20px 20px;
  line-height: 1.7;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 40px;
  text-align: center;
}

.section {
  margin-bottom: 35px;
}

.section h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.section p {
  margin: 6px 0;
}
